header{
   position: sticky;
   top:0;
   z-index: 10;
   opacity: 0.85;
   font-family: "Limelight", sans-serif;

    .title ul{
        background-color: #D6F6DD;
        color:black;
        padding: 8px;
        border: 2px solid white;
        display: flex;
        gap: 50px;
        justify-content: center;
        list-style: none;

        li{            
            transition: transform 0.5s;
            font-weight: 700;
            font-size: 1.2rem;
            font-style: normal;    
        }
        li:hover{
            transform: rotate(360deg);
        }
        
        
    }

    .name{
        text-align: right;
        font-size: 1rem;
        font-weight: 300;
        color: rgb(0, 0, 0);
        margin-right: 10px;
    }
}